.header {
    width: 100%;
    height: 50px;
    display: block;
    padding-bottom: 200px;
    font-family: 'Roboto Mono', monospace;
}

.inner_header {
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
    font-family: 'Roboto Mono', monospace;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
    font-family: 'Roboto Mono', monospace;
}

.logo_container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 200;
    font-family: 'Roboto Mono', monospace;
}

.logo_container h1 span {
    font-weight: 800;
    font-family: 'Roboto Mono', monospace;
}

.navigation {
    float: right;
    height: 100%;
    margin: 0px;
    font-family: 'Roboto Mono', monospace;
}

.navigation a {
    height: 100%;
    display: table;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Roboto Mono', monospace;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: rgb(4, 0, 255);
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    transition-duration: 0.4s;

}

.navigation a li:hover {
    color: rgb(255, 255, 255);

}

.navigation a li img:hover {
    transition-duration: 0.3s;
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(312deg) brightness(102%) contrast(101%);

}

/*filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(312deg) brightness(102%) contrast(101%);